@import "../../../node_modules/vuetify/src/stylus/main";

[v-cloak] { display:none; }

.custom-loader
  animation: loader 1s infinite
  display: flex

@keyframes loader
  from
    transform: rotate(0)

  to
    transform: rotate(360deg)
